/* Write your CSS here */
.list-container {
  list-style-type: none;
  max-width: 260px;
  border-style: solid;
  border-width: 1.5px;
  border-color: #171f46;
  padding: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  min-height: 100px;
  margin: 10px;
}
.top-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.appointment-heading {
  font-family: roboto;
  font-size: 13px;
  color: #171f46;
  font-weight: bold;
}
.star {
  background-color: transparent;
  border-width: 0px;
}
.date {
  font-size: 14px;
  font-family: roboto;
  color: #b5b7c4;
}
